@model IEnumerable<Project1.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Cid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cid  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cid  })
            </td>
        </tr>
}
    </tbody>
</table>
